/.vs/
/bin/
/obj/
**/bin/
**/obj/
Tools/**/bin/
Tools/**/obj/
*.user
db.instance.json
pg_import.sql
Captures/
Projects/
Default/
Logs/
sender/
tmp-db-check-contacts-cols/
*/dataset/
*/runs/
*/runs_test/
*/test/
*/train_yolo.log
*/test_yolo.log
*/yolo*.pt
*/yolo*.onnx
compare_inference/
primo/
Projects/
