/.vs/
/bin/
/obj/
Tools/**/bin/
Tools/**/obj/
*.user
db.instance.json
pg_import.sql
Captures/
Projects/
*/dataset/
*/runs/
*/runs_test/
*/test/
*/train_yolo.log
*/test_yolo.log
*/yolo*.pt
*/yolo*.onnx
